@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&display=swap");
.profile {
  margin: 3rem auto;
  text-align: center;
}

.profile h2 {
  margin: 0;
  font-size: 3rem;
  font-family: "Libre Baskerville", serif;
}
