@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&display=swap");
.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #31c1e9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.auth h1 {
  text-align: center;
  color: white;
  font-family: "Libre Baskerville", serif;
  font-size: 25px;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  margin-top: 35px;
  display: block;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.7rem;
  font-family: "Lora", serif;
}

.control input {
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 17px;
  background-color: #f1e1fc;
  color: #000000;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font-family: "Lora", serif;

  color: white;
  background-color: #4453f4;
  border: 1px solid #313cae;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
  margin: 5px 0 10px 0;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.actions button:hover {
  background-color: #3f34e2;
  border-color: #873abb;
  box-shadow: 0 5px 4px rgba(255, 255, 255, 0.5);
}

.actions .toggle {
  margin-top: 1rem;
  font-family: "Lora", serif;
  font-weight: bold;
  background-color: transparent;

  color: white;

  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #3f34e2;
}
.divIcon {
  display: flex;
}
.icon {
  background-color: #31c1e9;
  font-size: medium;
}
.eye {
  position: relative;
  left: 165px;
  /* top: -35px; */
  bottom: 35px;
}
